body {
  margin: 0;
  padding: 0;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.loader {
  position: absolute;
  background: transparent;
  font-size: 24px;
  color: chartreuse;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 4px;
}
.loader span {
  position: absolute;
  border: 1px solid chartreuse;
  height: 200px;
  width: 200px;
  animation: animate calc(1s * var(--i)) linear 0s infinite;
}
.loader span:nth-child(1) {
  border-radius: 37% 63% 89% 11% / 10% 75% 25% 90%;
}
.loader span:nth-child(2) {
  border-radius: 88% 12% 67% 33% / 80% 69% 31% 20%;
  animation-direction: reverse;
}
.loader span:nth-child(3) {
  border-radius: 88% 12% 67% 33% / 21% 16% 84% 79%;
  animation-direction: normal;
}
.loader span:nth-child(4) {
  border-radius: 88% 12% 13% 87% / 53% 39% 61% 47%;
  animation-direction: reverse;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
